<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registration is Completed</h1>
        <p>Documents are under verification</p>
        <p>Kindly wait for some hours</p>
        <p>
            you will get an email with loginID & password 
            if the verification is successful.
        </p>
    </div>
</body>
</html>