<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgot Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style12.css') }}">
  </head>
  <body>
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="static/images/leaf_01.png" /></div>
          <div><img src="static/images/leaf_02.png" /></div>
          <div><img src="static/images/leaf_03.png" /></div>
          <div><img src="static/images/leaf_04.png" /></div>
          <div><img src="static/images/leaf_01.png" /></div>
          <div><img src="static/images/leaf_02.png" /></div>
          <div><img src="static/images/leaf_03.png" /></div>
          <div><img src="static/images/leaf_04.png" /></div>
        </div>
      </div>
      <img src="static/images/bg1.jpg" class="bg" />
      <img src="static/images/girl.png" class="girl" />
      <img src="static/images/trees.png" class="trees" />
      <div class="login">
        <h2>Forgot Password</h2>
        <div class="inputBox"><input type="text" placeholder="CompanyID"></div>
        <div class="inputBox">
          <input type="email" placeholder="Email">
        </div>
        <div class="inputBox">
          <input type="submit" value="Submit" id="btn" />
        </div>
      </div>
    </section>
  </body>
</html>
