:root {
    --primary: #1705ff;
    --primary-dark: #00aacf;
    --bg: #fdfdfd;
    --secondary: #ecf0f1;
    --dropzone-bg: #fdfdfd;
    --gray: #444444;
    --border: #eedfef;
    --dropzone-border: #95a5a6;
    --text: #2c3e50;
    --headline: var(--text);
    --primary-text: #2c3e50;
    --dropzone-over: #00aacf10;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: var(--text);
  }
  
  *::selection {
    background: var(--primary);
    color: var(--text);
  }
  
  .dropzone-box {
    border-radius: 1rem;
    min-width: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 5px 8px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    max-width: 36rem;
    width: 100%;
    background: var(--dropzone-bg);
  }
  
  .dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
  }
  
  .dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
  }
  
  .dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1.5rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--dropzone-border);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dropzone-description {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .dropzone-area .file-info {
    font-size: 1.1rem;
  }
  
  .dropzone-area .file-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .dropzone-area .file-info ul li {
    text-align: left;
  }
  
  .dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .dropzone-area .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.3rem;
    stroke: var(--headline);
  }
  
  .dropzone-area:hover {
    background: var(--dropzone-over);
  }
  
  .dropzone--over {
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
  }
  
  .dropzone-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  .dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: background 0.3s ease;
  }
  
  .dropzone-help {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dropzone-actions button[type='reset']:hover {
    color: var(--primary-dark);
  }
  
  .dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    border: none;
    cursor: pointer;
  }
  
  .dropzone-actions button[type='submit']:hover {
    background: var(--primary-dark);
  }
  
  .action-buttons {
    display: flex;
    gap: 0.5rem;
    max-width: 12rem;
  }







/*:root {
    --primary: #1705FF;
    --primary-dark: #00AACF;
    --bg: #fdfdfd;
    --secondary: #ECF0F1;
    --dropzone-bg: #fdfdfd;
    --gray:#444444;
    --border: #eedfef;
    --dropzone-border:#95A5A6;
    --text: GAGE12;
    --headline: var(--text);
    --primary-text: #2C3E58;
    --dropzone-over:#00AACF10;
}

body {
    font-family: 'Work Sans',
        sans-serif;
    background: var(--bg);
    display: flex;
    Justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: var(--text);
}

*::selection {
    background: var(--primary);
    color: var(--text);
}

.dropzone-box {
    border-radius: 1rem;
    min-width: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px
        8px 5px 8px,
        rgba(0, 0, 0, 0.1) 0px
        0px 1px 0px;
    max-width: 36ren;
    width: 100%;
    background: var(--dropzone-bg);
}

.dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
}

.dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
}

.dropzone-area {
    padding: Irem;
    position: relative;
    margin-top: 1.5rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(
        --dropzone-border
    );
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-description {
    margin-top: 1rem;
    display:flex;
    justify-content: space-between;
}

.dropzone-area .file-info {
    font-size:1.1rem;
}

.dropzone-area file-info ul {
    List-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropzone-area .file-info ul li {
    text-align: left;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.3rem;
    stroke: var(--headline);
}

.dropzone-area:hover {
    background: var(--dropzone-over);
}

.dropzone--over {
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: background 0.3s ease;
}

.dropzone-help {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-actions button[type='reset']:hover {
    color: var(--primary-dark);
}

.dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    color: var(--primary-dark);
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    max-width: 12rem;
}*/